@charset "UTF-8";
.unreleased {
	display: none;
	background: #f2f2f2;
}

.header {
	font-size: large;
	font-weight: bold;
	text-decoration: underline;
}

p {
	line-height: 2;
}

br, li {
	line-height: 2;
}

p > img.thumbnail {
	height: 30px;
}

table {
	border-spacing: 1;
	border: 1px solid #ddd;
	width: auto;
}

img[src*="it_rune_"] {
	height: 64px;
	text-align: center;
	vertical-align: middle;
}

img[src*="it_runee"], img[src*="it_rune_reset_item.png"] {
	height: 32px;
	vertical-align: middle;
}

img[src*="ui_Rune"] {
	vertical-align: middle;
}

img[src*="ui_rune"] {
	vertical-align: middle;
	height: 30px;
}

th, td {
	border: 1px solid #ddd;
	vertical-align: middle;
}

th[id="bonus"] {
	text-align: left;
	width: 130px;
}

.caption {
	font-weight: bold;
}

.important {
	font-weight: bold;
	text-decoration: underline;
}

.strthr {
	text-decoration: line-through;
}

#table1 td:nth-child(9), #table7 td:nth-child(9) {
	text-align: center;
}

#table1 td[colspan], #table7 td[colspan] {
	text-align: center;
}

#table2 {
	text-align: center;
}

#table2 tr:first-child th:nth-child(2), 
#table2 tr:first-child th:nth-child(3), 
#table2 tr:first-child th:nth-child(4), 
#table2 tr:first-child th:nth-child(5), 
#table2 tr:first-child th:nth-child(6), 
#table2 tr:first-child th:nth-child(7)
{
	width: 110px;
}

#table2 tr:nth-child(6) td:last-child, 
#table2 tr:nth-child(9) td:last-child, 
#table2 tr:nth-child(12) td:last-child
{
	text-align: right;
}

.pA1, .pA2 { /*proability of set A, group 1 = basic stat, group 2 = evo bonus*/
	color: red;
}

.pB1, .pB2 { /*proability of set B, group 1 = basic stat, group 2 = evo bonus*/
	color: blue;
}

.pC1, .pC2 { /*proability of set C, group 1 = basic stat, group 2 = evo bonus*/
	color: lime;
}

#table3 th {
	width: 100px;
}

#table3 {
	text-align: center;
}

#table4 th {
	width: 70px;
}

#table4 td[colspan] {
	text-align: center;
}

#table4 {
	text-align: right;
}

#table5 {
	text-align: right;
}

#table5 tr td:first-child {
	text-align: center;
}

#table6 {
	text-align: center;
}

#table7 tr:last-child {
	text-align: center;
}

.good {
	background: pink;
}

.poor {
	background: lightblue;
}

.combined {
	position: relative;
}

table tr td {
	height: 44px;
}

table tr td br {
	line-height: normal;
}

.icon {
	position: absolute;
	height: 24px;
	top: 0px;
	right: 0px;
}

.keyword {
	font-weight: bold;
	background-color: lightgrey;
}

.idc { /* I don't care */
	color: lightgrey;
}