@charset "UTF-8";

select {
    width: 100px;
}

br,
li {
    line-height: 2;
}

img[src*="it_rune_"] {
    height: 64px;
    text-align: center;
    vertical-align: middle;
}

img[src*="it_runee"],
img[src*="it_rune_reset_item."] {
    height: 32px;
    vertical-align: middle;
}

img[src*="ui_Rune"] {
    vertical-align: middle;
}

img[src*="ui_rune"] {
    vertical-align: middle;
    height: 30px;
}

p {
    line-height: 2;
}

p>img.thumbnail {
    height: 30px;
}

table {
    border-spacing: 1px;
    border: 1px solid #ddd;
    width: auto;
}

td br {
    line-height: normal;
}


th,
td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    height: 20px;
    width: 120px;
}

th:first-child,
td:first-child {
    width: 80px;
}

.em, .en, .ev {
	width: 120px;
}

.en {
	background-color: orange;
	border-style: solid;
	border-color: peru;
}

.ev {
	background-color: yellow;
	border-style: solid;
	border-color: lightgray;
}

.caption {
    font-weight: bold;
}

.combined {
    position: relative;
}

.good {
    background: pink;
}

.header {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.highlight {
    font-weight: bold;
    text-decoration: underline;
}

.icon {
    position: absolute;
    height: 24px;
    top: 5px;
    right: 30px;
}

.idc {
    /* I don\'t care */
    color: lightgrey;
}

.keyword {
    font-weight: bold;
    background-color: lightgrey;
}

.pA1,
.pA2 {
    color: red;
}

.pB1,
.pB2 {
    color: blue;
}

.pC1,
.pC2 {
    color: darkgreen;
}

.poor {
    background: lightblue;
}

.strthr {
    text-decoration: line-through;
}

.unreleased {
    display: none;
    background: #f2f2f2;
}

#outputTable {
    display: none;
}

/* Set bonus */
#table1 tr :nth-child(8),
#table7 tr :nth-child(8),
#table8 tr :nth-child(8),
#table8b tr :nth-child(8):not(.paid) {
    text-align: left;
    width: 130px;
}

#table1 td:nth-child(9),
#table7 td:nth-child(9) {
    width: 34px;
}

#table1 tr :nth-child(10),
#table7 tr :nth-child(10) {
    text-align: left;
    width: auto;
}

#table2 .pA1,
#table2 .pB1,
#table2 .pC1 {
    width: auto;
}

#table2 tr:nth-child(6) td:last-child,
#table2 tr:nth-child(9) td:last-child,
#table2 tr:nth-child(12) td:last-child,
#table4 {
    text-align: right;
}

#table4 th,
#table4 td {
    width: 75px;
}

#table4 th:first-child {
    font-size: smaller;
}

.paid {
	text-align: right;
}