@charset "UTF-8";

table {
	border-spacing: 0;
	border: 1px solid #ddd;
	width: auto;
}

table#changeLog tr :first-child {
	padding-left: 0px;
	width: 90px;
}

table#changeLog td p {
	display: inline;
}

table#changeLog,
table#changeLog td {
	border-spacing: 0;
	border: none;
	width: auto;
	text-align: left;
	vertical-align: top;
}

table#mementos tr.odd,
tbody#history tr:nth-child(odd) {
	background-color: #f2f2f2;
}

td[headers="icon"]>a>img,
td[headers="origin"]>img,
td[headers="group"]>img {
	height: 32px;
	text-align: center;
	vertical-align: middle;
}

td[headers="name"] {
	white-space: nowrap;
}

td[headers="origin"],
td[headers="group"] {
	text-align: left;
	white-space: nowrap;
}

th {
	white-space: nowrap;
	background: white;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
}

th,
td {
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px dotted black;
	vertical-align: middle;
}

th[onclick*="sortTable"] {
	cursor: pointer;
	color: blue;
}

tr :nth-child(16),
tr :nth-child(18) {
	width: 80px;
	text-align: center;
}

th#others,
td[headers="others"] {
	width: 120px;
}

th#luck {
	text-align: center;
}

tr td:nth-child(3),
tr td:nth-child(4) {
	width: 16px;
	text-align: center;
}

tr :nth-child(n+7):nth-child(-n+15),
tr :nth-child(17),
tr :nth-child(19),
tr :nth-child(n+21):nth-child(-n+27) {
	width: 30px;
	text-align: right;
	white-space: nowrap;
}

.groupName,
.originName {
	display: none;
}

.event {
	color: green;
}

.limited {
	color: red;
}

.title {
	color: blue;
	font-weight: bold;
}
